table,
tbody,
.userPostsContainer {
  display: flex;
}

table,
tbody {
  flex-direction: row;
}

table {
  padding: 2rem;
  color: #000000;
  background-color: #e9e9e9;
}

tbody {
  flex-wrap: wrap;
  justify-content: center;
}

tr {
  padding-bottom: 0.5rem;
}

button {
  width: 15rem;
  height: 2rem;
}

.userPostsContainer {
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.postWrapper {
  background-color: #bbbbbb;
  border-radius: 15px;
  max-width: 20rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.postWrapper:last-child {
  margin-bottom: 0;
}
